/* ========================header container ============================== */

.header-container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
}

.header-container .hea-cont-left {
    width: 50%;
    height: 100%;
    flex-direction: column;
    margin-top: 25px;
    /* background-color: black; */
}

.header-container .hea-cont-left h2 {
    margin: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(116, 51, 116);
}

.header-container .hea-cont-left h3 {
    font-size: 20px;
}

.header-container .hea-cont-right {
    width: 50%;
    height: 100%;
    /* background-color: blue; */
}

.header-container .hea-cont-right img {
    width: 50%;
    margin-top: 50px;
}

.hea-cont-left-bton {
    width: 100%;
}

.hea-cont-left-bton button {
    margin: 40px 50px;
    padding: 12px 30px;
    border-radius: 50px;
    border: 1px solid rgb(116, 51, 116);
    background-color: rgb(116, 51, 116);
    transition: .3s all ease;
}

.hea-cont-left-bton button:hover {
    box-shadow: 0 0 20px rgb(95, 52, 95);
}

.hea-cont-left-bton button a {
    color: white;
    text-decoration: none;
}


/* ====================Feaatures =============================== */